// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  //------------------------------------------------------- Segzy CSS
  .Segzy {
    font-size: 45px;
    text-align: left;
    margin-top: -30px;
    margin-left: 20px;
  }
  .Segzy2 {
    width : 25px;
    height : 25px;
    //padding-left: 2px;
    //padding-right: 2px;
    margin-left: -2px !important;
    margin-right: -2px !important;
  }
  .Segzy3 {
    border-style: solid;
    border-radius: 10px;
    border-color: #a1a1a1;
    padding: 4px 4px 4px 12px;
    border-width: 1px;
    width : 100%;
    margin-top: -17px;
  }
  .Segzy4 {
    padding-left: 0px;
    margin-top: -20px;
  }
  .backbtn{
    width: 55px;
    height: 40px;
    background-image: url("left-arrow2.svg");
    background-repeat: no-repeat;
    border: 0px;
    box-shadow: none;
    background-size: 40px;
    margin: -25px;
  }

  .lol{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  .lizo{
    border-color: #2c5aa0;
    border-radius: 30px;
    width : 225px;
    height : 200px;
  }
  .esmond{
    border-radius: 30px;
  }
  .Segzy5{

    margin-left: 200px;
    position: absolute;
    bottom: 70px;
    right: 120px;

  }
  .Segzy6{
    margin-left: 200px;
    position: absolute;
    bottom: 70px;
    right: 230px;
  }
  .Segzy5-decrease{
    width: 40px;
    margin-right: -12px;
    border-radius: 0px;
    font-size: large;
    background: #CDCDCD;
    border: none;
  }
  .segzyfield{
    background-color: #CDCDCD;
    border-radius: 0px;
    border: none;
  }
  .Segzy5-text{
    width: 40px;
    border-radius: 0px;
  }
  //------------------------------------------------------- Main CSS
  // colors
  .main-blue {
    background-color: #2c5aa0;
  }
  .main-green {
    background-color: #43b05c;
  }
  .main-charcoal {
    background-color: #323232;
  }

  // text colors
  .main-text-charcoal {
    color: #323232;
  }
  .main-text-warning {
    color: #aa0000;
  }
  .main-text-green {
    color: #43b05c;
  }

  // text sizing
  .main-text-size-small {
    font-size: 0.5rem;
  }
  .main-text-size-normal {
    font-size: 1rem;
  }
  .main-text-size-medium {
    font-size: 1.5rem;
  }
  .main-text-size-large {
    font-size: 2rem;
  }
  .main-text-size-extra-large {
    font-size: 3rem;
  }

  // text weight
  .main-text-weight-900 {
    font-weight: 900;
  }

  // opacity
  .main-opacity-20 {
    opacity: 0.2;
  }
  .main-opacity-40 {
    opacity: 0.4;
  }
  .main-opacity-60 {
    opacity: 0.6;
  }
  .main-opacity-80 {
    opacity: 0.8;
  }

  // components
  .paper-border {
    border-right-style: dashed;
    border-right-width: 1px;
    border-right-color: #323232;
  }

  .main-flat-border {
    border: 1px dashed #323232;
  }

  .main-flat-button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-image: none;
    box-shadow: none;
    text-decoration: none;
  }
  .main-flat-button:active {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-image: none;
    box-shadow: none;
    text-decoration: none;
  }
  .main-flat-button:hover {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-image: none;
    box-shadow: none;
    text-decoration: none;
  }

  .main-flat-text-field {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #dfe1e5;
    background-color: hsl(210, 0%, 98%);
    border-radius: 24px;
  }

  .main-flat-floating-box {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    background-color: hsl(210, 0%, 98%);
  }

  .main-flat-round-button {
    width: 48px;
    height: 48px;
    border: none;
    padding: 0;
    background-image: none;
    background-color: #43b05c;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    box-shadow: 0 2px 10px 1px #a1a1a1;
  }
  .main-flat-round-button-position {
    position: absolute;
    bottom: 48px;
    right: 48px;
  }
  .main-flat-round-button:active {
    background-color: rgba(67, 176, 92, 0.9);
  }
  .main-flat-round-button:hover {
    background-color: rgba(67, 176, 92, 0.9);
  }

  .main-flat-grey-label {
    color: white;
    font-weight: 800;
    padding: 2px 6px;
    border-radius: 32px;
    background-color: #a1a1a1;
  }

  .main-flat-badge-icon {
    color: white;
    width: 48px;
    height: 48px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: 800;
  }

  .main-flat-round-button-pagination-selected {
    padding: 2px;
    width: 32px;
    height: 32px;
    color: white;
    box-shadow: none;
    font-size: 0.75rem;
    border-radius: 50%;
    text-align: center;
    background-image: none;
    background-color: #323232;
  }
  .main-flat-round-button-pagination {
    padding: 2px;
    width: 32px;
    height: 32px;
    color: white;
    font-weight: 600;
    box-shadow: none;
    font-size: 0.75rem;
    border-radius: 50%;
    text-align: center;
    background-image: none;
    background-color: #808080;
  }
  .main-flat-round-button-pagination-add {
    padding: 2px;
    width: 32px;
    height: 32px;
    color: white;
    font-weight: 600;
    box-shadow: none;
    font-size: 0.75rem;
    border-radius: 50%;
    text-align: center;
    background-image: none;
  }

  // controls
  .main-control-clickable {
    cursor: pointer;
  }

  .main-navigation-link {
    opacity: 0.6;
  }
  .main-navigation-link-active {
    opacity: 1.0;
  }
  .main-navigation-link:hover {
    opacity: 0.9;
  }

  // other css
  .main-sign-in-page-background {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
